<div id="content">
  <h3>Edit an event</h3>
  <%- form_for @event, :url => event_path(@event), :method => :put do |f| -%>
  <%= error_messages_for(:event) %>
    <p><%= f.label :name %> <%= f.text_field :name %></p>
    <p><%= f.label :cost %> <%= f.text_field :cost %></p>
    <p><%= f.label :start_date %> <%= f.date_select :start_date %></p>
    <p><%= submit_tag %></p>
  <%- end -%>
</div>